In [1]:
import pandas as pd
import numpy as np

# Arquivo "Clickstream"

In [2]:
df_click = pd.read_csv('netflix/Clickstream.csv', encoding='latin-1')

In [3]:
df_click.head()

,Profile Name,Source,Navigation Level,Referrer Url,Webpage Url,Click Utc Ts
0,Usuário 1,tvui,profilesGate,NaN,NaN,2021-01-05 12:49:57
1,Usuário 1,tvui,browseTitles,NaN,NaN,2021-01-04 17:42:48
2,Usuário 1,tvui,profilesGate,NaN,NaN,2021-01-04 17:42:48
3,Usuário 1,tvui,search,NaN,NaN,2021-01-04 17:42:26
4,Usuário 1,tvui,browseTitles,NaN,NaN,2021-01-04 17:42:26

In [4]:
df_click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6696 entries, 0 to 6695
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Profile Name      6696 non-null   object
 1   Source            6696 non-null   object
 2   Navigation Level  6696 non-null   object
 3   Referrer Url      469 non-null    object
 4   Webpage Url       511 non-null    object
 5   Click Utc Ts      6696 non-null   object
dtypes: object(6)
memory usage: 314.0+ KB

In [5]:
df_click['Navigation Level'].value_counts()

movieDetails                    1706
playback                        1568
browseTitles                    1431
profilesGate                     639
postPlay                         501
search                           434
errorDialog                      103
browseTitlesGallery               91
cachedVideos                      56
exitDialog                        51
audioSubtitlesSelector            30
accountMenu                       18
previews                          14
newsFeed                          11
searchSuggestionTitleResults      10
movieCreditsAndRatings             8
customerService                    8
editProfile                        6
addProfile                         4
nmLanding                          3
editProfileName                    2
login                              1
anniversayTermsOfUseNotice         1
Name: Navigation Level, dtype: int64

In [6]:
df_click['Profile Name'].value_counts()

Usuário 2    5341
Usuário 3    1310
Usuário 1      45
Name: Profile Name, dtype: int64

In [7]:
df_click['Source'].value_counts()

tvui       5457
android     728
www         511
Name: Source, dtype: int64

In [8]:
df_click['Referrer Url'].value_counts()

/browse                                                                                                                                                              90
https://www.google.com/                                                                                                                                              20
/search?q=rela                                                                                                                                                        8
/search?q=carros                                                                                                                                                      7
/search?q=c                                                                                                                                                           6
                                                                                                                                                                     ..
/browse/genre/34399                                                                                                                                                   1
/watch/80019121?trackId=200257859                                                                                                                                     1
/watch/80003012?trackId=14170286&tctx=1%2C0%2Cda61e361-1a3a-4998-a15d-84637bd08b38-6498473%2C4c5fa873-9c49-4f3e-8618-47c95d753b17_33305445X3XX1604538691413%2C%2C     1
https://www.netflix.com/watch/80003012?trackId=200257859                                                                                                              1
https://www.netflix.com/browse                                                                                                                                        1
Name: Referrer Url, Length: 155, dtype: int64

In [9]:
df_click['Webpage Url'].value_counts()

/browse                                                                                                                                                                                                                                 113
/search?q=rela                                                                                                                                                                                                                            8
/search?q=carros                                                                                                                                                                                                                          8
/search?q=ca                                                                                                                                                                                                                              6
/search?q=mcquenn                                                                                                                                                                                                                         6
                                                                                                                                                                                                                                       ...
/watch/81167887?trackId=14170035&tctx=1%2C0%2Cdc37a73e-9b52-4f24-90ec-6e65a1ac2df7-9312987%2Cc1e06426-7e00-4099-83d6-cf4ff5b86b6e_17640221X19XX1612292962296%2Cc1e06426-7e00-4099-83d6-cf4ff5b86b6e_ROOT%2C                               1
/watch/80003013?trackId=200257858                                                                                                                                                                                                         1
/watch/80192646?trackId=255275177&tctx=6%2C3%2C84bb44be-c69d-48a1-8bf9-65889ea59204-10502731%2Cbe01b8e4-e38a-4483-ac92-ee44070c6859_89307269X101XX1611022422120%2C%2C                                                                     1
/watch/80044538?trackId=13752289&tctx=0%2C0%2C41c994451eead57ded862ee3fea55eaff7ae38e0%3A6b4c898ab7827361d90ea2495c203e798d405489%2C41c994451eead57ded862ee3fea55eaff7ae38e0%3A6b4c898ab7827361d90ea2495c203e798d405489%2Cunknown%2C      1
/watch/80003012?trackId=200257859                                                                                                                                                                                                         1
Name: Webpage Url, Length: 174, dtype: int64

In [10]:
df_click.drop(columns=['Referrer Url', 'Webpage Url'], inplace=True)

In [11]:
df_click.head()

  Profile Name Source Navigation Level         Click Utc Ts
0    Usuário 1   tvui     profilesGate  2021-01-05 12:49:57
1    Usuário 1   tvui     browseTitles  2021-01-04 17:42:48
2    Usuário 1   tvui     profilesGate  2021-01-04 17:42:48
3    Usuário 1   tvui           search  2021-01-04 17:42:26
4    Usuário 1   tvui     browseTitles  2021-01-04 17:42:26

In [12]:
df_click.rename(columns={'Profile Name': 'nome_usuario', 
                 'Source': "acessado_via" , 
                 'Navigation Level': "pagina_acessada", 
                 'Click Utc Ts': 'data_hora_acesso'}, inplace=True)

In [13]:
df_click.head()

  nome_usuario acessado_via pagina_acessada     data_hora_acesso
0    Usuário 1         tvui    profilesGate  2021-01-05 12:49:57
1    Usuário 1         tvui    browseTitles  2021-01-04 17:42:48
2    Usuário 1         tvui    profilesGate  2021-01-04 17:42:48
3    Usuário 1         tvui          search  2021-01-04 17:42:26
4    Usuário 1         tvui    browseTitles  2021-01-04 17:42:26

In [14]:
tv = ['tvui']
smartphone = ['android']
navegador = ['www']

In [15]:
condicoes = [
    (df_click['acessado_via'].isin(tv)),
    (df_click['acessado_via'].isin(smartphone)),
    (df_click['acessado_via'].isin(navegador)),
    ]

valores = ['TV', 'Smartphone', 'Navegador']

df_click['acessado_via'] = np.select(condicoes, valores)

In [16]:
df_click['acessado_via'].value_counts()

TV            5457
Smartphone     728
Navegador      511
Name: acessado_via, dtype: int64

In [17]:
df_click.head()

  nome_usuario acessado_via pagina_acessada     data_hora_acesso
0    Usuário 1           TV    profilesGate  2021-01-05 12:49:57
1    Usuário 1           TV    browseTitles  2021-01-04 17:42:48
2    Usuário 1           TV    profilesGate  2021-01-04 17:42:48
3    Usuário 1           TV          search  2021-01-04 17:42:26
4    Usuário 1           TV    browseTitles  2021-01-04 17:42:26

In [18]:
df_click['data_hora_acesso'] = pd.to_datetime(df_click['data_hora_acesso'])

In [19]:
df_click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6696 entries, 0 to 6695
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome_usuario      6696 non-null   object
 1   acessado_via      6696 non-null   object
 2   pagina_acessada   6696 non-null   object
 3   data_hora_acesso  6696 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 209.4+ KB

In [20]:
df_click.head()

  nome_usuario acessado_via pagina_acessada    data_hora_acesso
0    Usuário 1           TV    profilesGate 2021-01-05 12:49:57
1    Usuário 1           TV    browseTitles 2021-01-04 17:42:48
2    Usuário 1           TV    profilesGate 2021-01-04 17:42:48
3    Usuário 1           TV          search 2021-01-04 17:42:26
4    Usuário 1           TV    browseTitles 2021-01-04 17:42:26

In [21]:
df_click.pagina_acessada.value_counts()

movieDetails                    1706
playback                        1568
browseTitles                    1431
profilesGate                     639
postPlay                         501
search                           434
errorDialog                      103
browseTitlesGallery               91
cachedVideos                      56
exitDialog                        51
audioSubtitlesSelector            30
accountMenu                       18
previews                          14
newsFeed                          11
searchSuggestionTitleResults      10
movieCreditsAndRatings             8
customerService                    8
editProfile                        6
addProfile                         4
nmLanding                          3
editProfileName                    2
login                              1
anniversayTermsOfUseNotice         1
Name: pagina_acessada, dtype: int64

### _________________________________________________________________________________________________________________________

# Arquivo "InteractiveTitles"

In [22]:
df_titles = pd.read_csv('netflix/InteractiveTitles.csv', encoding='latin-1')

In [23]:
df_titles.head()

,Profile Name,Title Desc,Selection Type,Choice Segment Id,Has Watched,Source,Utc Timestamp
0,"Usuário 1,""Minecraft: Story Mode: Season 1: """"...",NaN,NaN,NaN,NaN,NaN,NaN
1,"Usuário 1,""Minecraft: Story Mode: Season 1: """"...",NaN,NaN,NaN,NaN,NaN,NaN
2,"Usuário 1,""Minecraft: Story Mode: Season 1: """"...",NaN,NaN,NaN,NaN,NaN,NaN
3,"Usuário 1,""Minecraft: Story Mode: Season 1: """"...",NaN,NaN,NaN,NaN,NaN,NaN
4,"Usuário 1,""Minecraft: Story Mode: Season 1: """"...",NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_titles.shape

(102, 7)

In [25]:
arq = open('netflix/InteractiveTitles.csv', 'r', encoding='latin-1')
linhas_csv = arq.readlines()


print(type(linhas_csv))
print(len(linhas_csv))

<class 'list'>
103

In [26]:
lista = [i.split(',') for i in linhas_csv]

In [27]:
lista[0]

['Profile Name',
 'Title Desc',
 'Selection Type',
 'Choice Segment Id',
 'Has Watched',
 'Source',
 'Utc Timestamp\n']

In [28]:
lista.pop(0)

['Profile Name',
 'Title Desc',
 'Selection Type',
 'Choice Segment Id',
 'Has Watched',
 'Source',
 'Utc Timestamp\n']

In [29]:
lista[0]

['"Usuário 1',
 '""Minecraft: Story Mode: Season 1: """"The Order of the Stone""""""',
 'userinput',
 'Que orgulho de vocÃªs.',
 'false',
 'android',
 '2020-07-12 23:41:38"\n']

In [30]:
for c in range(0, len(lista)):
    if len(lista[c]) == 7:
        df_titles.loc[c] = lista[c]

In [31]:
df_titles.head(10)

,Profile Name,Title Desc,Selection Type,Choice Segment Id,Has Watched,Source,Utc Timestamp
0,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Que orgulho de vocÃªs.,false,android,"2020-07-12 23:41:38""\n"
1,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Pular,false,android,"2020-07-12 23:39:21""\n"
2,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Construir espada,false,tvui,"2020-07-12 15:31:56""\n"
3,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,TÃ´ dentro.,false,tvui,"2020-07-12 15:30:57""\n"
4,"Usuário 1,""Minecraft: Story Mode: Season 1: """"...",NaN,NaN,NaN,NaN,NaN,NaN
5,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Grama alta,false,tvui,"2020-07-12 15:27:10""\n"
6,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Arbusto,false,tvui,"2020-07-12 15:26:51""\n"
7,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Trilha de fumaÃ§a,false,tvui,"2020-07-12 15:26:27""\n"
8,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,O poÃ§o,false,tvui,"2020-07-12 15:25:57""\n"
9,"""Usuário 1","""""Minecraft: Story Mode: Season 1: """"""""The Ord...",userinput,Chicote do Guerreiro,false,tvui,"2020-07-12 15:23:09""\n"

In [32]:
df_titles['Profile Name'] = df_titles['Profile Name'].astype(str).str.replace('"', '')

In [33]:
df_titles['Utc Timestamp'] = df_titles['Utc Timestamp'].astype(str).str.replace('\n', '')

In [34]:
df_titles['Utc Timestamp'] = df_titles['Utc Timestamp'].astype(str).str.replace('"', '')

In [35]:
df_titles['Title Desc'] = df_titles['Title Desc'].astype(str).str.replace('"', '')

In [36]:
df_titles.head()

,Profile Name,Title Desc,Selection Type,Choice Segment Id,Has Watched,Source,Utc Timestamp
0,Usuário 1,Minecraft: Story Mode: Season 1: The Order of ...,userinput,Que orgulho de vocÃªs.,false,android,2020-07-12 23:41:38
1,Usuário 1,Minecraft: Story Mode: Season 1: The Order of ...,userinput,Pular,false,android,2020-07-12 23:39:21
2,Usuário 1,Minecraft: Story Mode: Season 1: The Order of ...,userinput,Construir espada,false,tvui,2020-07-12 15:31:56
3,Usuário 1,Minecraft: Story Mode: Season 1: The Order of ...,userinput,TÃ´ dentro.,false,tvui,2020-07-12 15:30:57
4,"Usuário 1,Minecraft: Story Mode: Season 1: The...",nan,NaN,NaN,NaN,NaN,nan

In [37]:
df_titles['Profile Name'].value_counts()

Usuário 1                                                                                                                                 51
Usuário 3                                                                                                                                 45
Usuário 1,Minecraft: Story Mode: Season 1: The Order of the Stone,userinput,Fique perto, protejo vocÃª.,false,tvui,2020-07-12 15:28:37     1
Usuário 1,Minecraft: Story Mode: Season 1: The Order of the Stone,userinput,Ah, moleza.,false,tvui,2020-07-09 22:09:48                     1
Usuário 1,Minecraft: Story Mode: Season 1: The Order of the Stone,userinput,NÃ£o foi engraÃ§ado, Axel.,false,tvui,2020-07-09 22:07:36      1
Usuário 1,Minecraft: Story Mode: Season 1: The Order of the Stone,userinput,Fique perto, protejo vocÃª.,false,tvui,2019-12-09 16:48:06     1
Usuário 1,Minecraft: Story Mode: Season 1: The Order of the Stone,default,Ah, moleza.,false,tvui,2019-12-09 16:33:57                       1
Usuário 1,Minecraft: Story Mode: Season 1: The Order of the Stone,userinput,NÃ£o foi engraÃ§ado, Axel.,false,tvui,2019-12-09 16:31:26      1
Name: Profile Name, dtype: int64

In [38]:
df_titles.tail()

,Profile Name,Title Desc,Selection Type,Choice Segment Id,Has Watched,Source,Utc Timestamp
97,Usuário 3,Black Mirror: Bandersnatch,userinput,,false,tvui,2019-01-01 14:58:28
98,Usuário 3,Black Mirror: Bandersnatch,userinput,,false,tvui,2019-01-01 14:54:36
99,Usuário 3,Black Mirror: Bandersnatch,userinput,AGORA 2,false,tvui,2019-01-01 14:50:02
100,Usuário 3,Black Mirror: Bandersnatch,userinput,SUCRILHOS,false,tvui,2019-01-01 14:49:06
101,Usuário 3,Black Mirror: Bandersnatch - Remote Control Tu...,userinput,,false,tvui,2019-01-01 14:46:31

In [39]:
df_titles['Profile Name']

0                                              Usuário 1
1                                              Usuário 1
2                                              Usuário 1
3                                              Usuário 1
4      Usuário 1,Minecraft: Story Mode: Season 1: The...
                             ...
97                                             Usuário 3
98                                             Usuário 3
99                                             Usuário 3
100                                            Usuário 3
101                                            Usuário 3
Name: Profile Name, Length: 102, dtype: object

In [40]:
df_titles.shape

(102, 7)

In [41]:
df_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Profile Name       102 non-null    object
 1   Title Desc         102 non-null    object
 2   Selection Type     96 non-null     object
 3   Choice Segment Id  96 non-null     object
 4   Has Watched        96 non-null     object
 5   Source             96 non-null     object
 6   Utc Timestamp      102 non-null    object
dtypes: object(7)
memory usage: 5.7+ KB

### _________________________________________________________________________________________________________________________

# Arquivo MyList

In [42]:
df_list = pd.read_csv('netflix/MyList.csv', encoding='latin-1')

In [43]:
df_list.head()

  Profile Name        Title Name Country Utc Title Add Date
0    Usuário 2             Lupin  Brazil         2021-02-12
1    Usuário 2  Outside the Wire  Brazil         2021-01-06
2    Usuário 2        Bridgerton  Brazil         2021-01-01
3    Usuário 2       Mystery Lab  Brazil         2020-08-12
4    Usuário 2       Mystery Lab  Brazil         2020-07-27

In [44]:
df_list.shape

(61, 4)

In [45]:
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Profile Name        61 non-null     object
 1   Title Name          59 non-null     object
 2   Country             59 non-null     object
 3   Utc Title Add Date  59 non-null     object
dtypes: object(4)
memory usage: 2.0+ KB

### Talvez dê pra usar.

### _________________________________________________________________________________________________________________________

# Arquivo Playblack Related Events

In [46]:
df_playback = pd.read_csv('netflix/PlaybackRelatedEvents.csv', encoding='latin-1')

In [47]:
df_playback.head()

,Profile Name,Title Description,Device,Playback Start Utc Ts,Country,Playtraces
0,"Usuário 1,""Dragons: Race to the Edge: Season 1...",NaN,NaN,NaN,NaN,NaN
1,"Usuário 1,""Dragons: Race to the Edge: Season 1...",NaN,NaN,NaN,NaN,NaN
2,"Usuário 1,""Dragons: Race to the Edge: Season 1...",NaN,NaN,NaN,NaN,NaN
3,"Usuário 1,""Dragons: Race to the Edge: Season 1...",NaN,NaN,NaN,NaN,NaN
4,"Usuário 1,""Dragons: Race to the Edge: Season 1...",NaN,NaN,NaN,NaN,NaN

In [48]:
df_playback.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Profile Name           64 non-null     object
 1   Title Description      5 non-null      object
 2   Device                 5 non-null      object
 3   Playback Start Utc Ts  5 non-null      object
 4   Country                5 non-null      object
 5   Playtraces             5 non-null      object
dtypes: object(6)
memory usage: 3.1+ KB

In [49]:
arq_titles = open('netflix/InteractiveTitles.csv', 'r', encoding='latin-1')
linhas_titles = arq_titles.readlines()

### _________________________________________________________________________________________________________________________

# Arquivos Ratings

In [50]:
df_ratings = pd.read_csv('netflix/Ratings.csv', encoding='latin-1')

In [51]:
df_ratings.head(10)

,Profile Name,Title Name,Rating Type,Star Value,Thumbs Value,Device Model,Event Utc Ts,Region View Date
0,Usuário 1,True: Wonderful Wishes,thumb,NaN,2.0,Smart TV,2020-07-19 16:33:48,NaN
1,Usuário 1,How to Train Your Dragon,thumb,NaN,2.0,Smart TV,2020-07-09 21:31:35,NaN
2,Usuário 1,Oddbods,thumb,NaN,1.0,Smart TV,2020-01-07 17:44:41,NaN
3,Usuário 1,The SpongeBob SquarePants Movie,thumb,NaN,2.0,Smart TV,2020-01-04 19:00:21,NaN
4,Usuário 1,Cloudy with a Chance of Meatballs 2,thumb,NaN,2.0,Smart TV,2020-01-01 22:57:37,NaN
5,Usuário 1,Pup Star,thumb,NaN,2.0,Smart TV,2019-12-12 17:43:41,NaN
6,Usuário 2,Outside the Wire,thumb,NaN,2.0,Android Phone,2021-01-06 02:20:23,NaN
7,Usuário 2,Dark Desire,thumb,NaN,2.0,Smart TV,2021-01-02 01:16:02,NaN
8,Usuário 2,El DragÃ³n: Return of a Warrior,thumb,NaN,2.0,Android Phone,2020-09-06 05:08:04,NaN
9,Usuário 2,Despicable Me,thumb,NaN,2.0,Smart TV,2020-07-18 01:02:50,NaN

In [52]:
df_ratings.shape

(100, 8)

In [53]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Profile Name      100 non-null    object
 1   Title Name        96 non-null     object
 2   Rating Type       96 non-null     object
 3   Star Value        9 non-null      float64
 4   Thumbs Value      96 non-null     float64
 5   Device Model      96 non-null     object
 6   Event Utc Ts      96 non-null     object
 7   Region View Date  9 non-null      object
dtypes: float64(2), object(6)
memory usage: 6.4+ KB

In [54]:
df_ratings['Rating Type'].value_counts()

thumb    87
star      9
Name: Rating Type, dtype: int64

In [55]:
df_ratings['Thumbs Value'].value_counts()

2.0    85
1.0    11
Name: Thumbs Value, dtype: int64

In [56]:
df_ratings['Star Value'].value_counts()

5.0    4
3.0    3
1.0    1
4.0    1
Name: Star Value, dtype: int64

In [57]:
df_ratings['Device Model'].value_counts()

Smart TV         61
Android Phone    29
PS4               5
iPhone            1
Name: Device Model, dtype: int64

In [58]:
df_ratings.rename(columns={'Profile Name': 'usuario', 'Title Name': 'titulo_avaliado',
                  'Rating Type': 'tipo_classificacao', 'Star Value': 'nota', 
                  'Thumbs Value': 'curtidas', 'Device Model': 'avaliado_via', 
                  'Event Utc Ts': 'data_hora'}, inplace=True)

In [59]:
df_ratings.to_csv('netflix-avaliacoes.csv', index=False)

# ________________________________________________________________________________

# Arquivo Viewing Activity

In [60]:
arq = open('netflix/ViewingActivity.csv', 'r', encoding='latin-1')
linhas_arq = arq.readlines()

print(type(linhas_arq))
print(len(linhas_arq))

<class 'list'>
13610

In [61]:
lista_2 = [i.split(',') for i in linhas_arq]

In [62]:
len(lista_2)

13610

#### Como não consegui carregar o arquivo, estou criando 10 colunas (de acordo com o PDF da Netflix sobre a tabela) para adicionar as linhas

In [63]:
df = pd.DataFrame(columns=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Index: []

In [64]:
for c in range(0, len(lista_2)):
    if len(lista_2[c]) == 10:
        df.loc[c] = lista_2[c]

In [65]:
df.head()

,1,2,3,4,5,6,7,8,9,10
0,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country;;;;;;;;;;;;\n
1,Usu¨¢rio 1,2021-01-04 17:40:58,00:01:01,,Em Busca do Vale Encantado,,Samsung Novatek DTV Smart TV,00:01:01,00:01:01,BR (Brazil);;;;;;;;;;;;\n
2,Usu¨¢rio 1,2021-01-04 17:32:40,00:06:04,,Madagascar 2,,Samsung Novatek DTV Smart TV,00:59:49,00:59:49,BR (Brazil);;;;;;;;;;;;\n
3,Usu¨¢rio 1,2021-01-04 14:19:55,00:18:59,Autoplayed: user action: Unspecified;,A Estrela de BelÃ©m,,AOC AOC 2016 MT5800 with no FRC Smart TV,00:18:59,00:18:59,BR (Brazil);;;;;;;;;;;\n
4,Usu¨¢rio 1,2020-10-23 22:00:42,01:32:46,,A Caminho da Lua,,Samsung Novatek DTV Smart TV,01:30:01,01:30:01,BR (Brazil);;;;;;;;;;;;\n

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13120 entries, 0 to 13609
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       13120 non-null  object
 1   2       13120 non-null  object
 2   3       13120 non-null  object
 3   4       13120 non-null  object
 4   5       13120 non-null  object
 5   6       13120 non-null  object
 6   7       13120 non-null  object
 7   8       13120 non-null  object
 8   9       13120 non-null  object
 9   10      13120 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [67]:
df2 = pd.DataFrame(columns=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'])
df

,1,2,3,4,5,6,7,8,9,10
0,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country;;;;;;;;;;;;\n
1,Usu¨¢rio 1,2021-01-04 17:40:58,00:01:01,,Em Busca do Vale Encantado,,Samsung Novatek DTV Smart TV,00:01:01,00:01:01,BR (Brazil);;;;;;;;;;;;\n
2,Usu¨¢rio 1,2021-01-04 17:32:40,00:06:04,,Madagascar 2,,Samsung Novatek DTV Smart TV,00:59:49,00:59:49,BR (Brazil);;;;;;;;;;;;\n
3,Usu¨¢rio 1,2021-01-04 14:19:55,00:18:59,Autoplayed: user action: Unspecified;,A Estrela de BelÃ©m,,AOC AOC 2016 MT5800 with no FRC Smart TV,00:18:59,00:18:59,BR (Brazil);;;;;;;;;;;\n
4,Usu¨¢rio 1,2020-10-23 22:00:42,01:32:46,,A Caminho da Lua,,Samsung Novatek DTV Smart TV,01:30:01,01:30:01,BR (Brazil);;;;;;;;;;;;\n
...,...,...,...,...,...,...,...,...,...,...
13605,Usu¨¢rio 2,2015-08-02 01:42:27,00:00:16,,Apenas Sexo,,Mobile,00:29:10,00:29:10,BR (Brazil);;;;;;;;;;;;\n
13606,Usu¨¢rio 2,2015-08-02 00:56:17,00:01:18,,Secret Life of Babies,,Mobile,00:03:50,00:03:50,BR (Brazil);;;;;;;;;;;;\n
13607,Usu¨¢rio 2,2015-08-02 00:51:28,00:00:16,,Apartment 23: Temporada 1: Piloto (EpisÃ³dio 1),,Mobile,00:06:00,00:06:00,BR (Brazil);;;;;;;;;;;;\n
13608,Usu¨¢rio 2,2015-08-02 00:42:18,01:11:31,,Ironias do amor,,Samsung Novatek DTV Smart TV,01:14:14,Not latest view,BR (Brazil);;;;;;;;;;;;\n
13609,Usu¨¢rio 2,2015-08-02 00:38:54,00:02:43,,Ironias do amor,,Samsung Novatek DTV Smart TV,00:02:43,Not latest view,BR (Brazil);;;;;;;;;;;;\n

In [68]:
for c in range(0, len(lista_2)):
    if len(lista_2[c]) == 11:
        df2.loc[c] = lista_2[c]

In [69]:
df2.head()

,1,2,3,4,5,6,7,8,9,10,11
21,Usu¨¢rio 1,2020-07-27 16:18:30,00:21:46,"Autoplayed: user action: None;""","""""DragÃµes: Corrida atÃ© o Limite: Temporada 3...","nÃ£o! (EpisÃ³dio 12)""""",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:22:27,00:22:27,"BR (Brazil)"";;;;;;;;;;;\n"
48,Usu¨¢rio 1,2020-07-20 16:08:56,00:07:48,"Autoplayed: user action: None;""","""""Shaun",o Carneiro: Temporada 3: O jogo / Vamos ver u...,,MStar PureTurnkey51 AOC OEM2K Smart TV,00:08:28,00:08:28,"BR (Brazil)"";;;;;;;;;;;\n"
51,"""Usu¨¢rio 1",2020-07-20 15:31:58,00:12:16,,"""""Shaun",o Carneiro: Temporada 3: Os bagunceiros / O c...,,MStar PureTurnkey51 AOC OEM2K Smart TV,00:12:56,00:12:56,"BR (Brazil)"";;;;;;;;;;;;\n"
52,Usu¨¢rio 1,2020-07-20 15:28:30,00:03:22,"Autoplayed: user action: Unspecified;""","""""Shaun",o Carneiro: Temporada 3: O pastor / VocÃª esq...,,MStar PureTurnkey51 AOC OEM2K Smart TV,00:12:47,00:12:47,"BR (Brazil)"";;;;;;;;;;;\n"
53,"""Usu¨¢rio 1",2020-07-20 00:36:25,00:08:45,,"""""Shaun",o Carneiro: Temporada 3: O pastor / VocÃª esq...,,MStar PureTurnkey51 AOC OEM2K Smart TV,00:09:25,Not latest view,"BR (Brazil)"";;;;;;;;;;;;\n"

In [70]:
df2.shape

(439, 11)

In [71]:
df2['5'] = df2['5'].str.cat(df2['6'])

In [72]:
df2.drop(columns='6', inplace=True)

In [73]:
df2.head()

,1,2,3,4,5,7,8,9,10,11
21,Usu¨¢rio 1,2020-07-27 16:18:30,00:21:46,"Autoplayed: user action: None;""","""""DragÃµes: Corrida atÃ© o Limite: Temporada 3...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:22:27,00:22:27,"BR (Brazil)"";;;;;;;;;;;\n"
48,Usu¨¢rio 1,2020-07-20 16:08:56,00:07:48,"Autoplayed: user action: None;""","""""Shaun o Carneiro: Temporada 3: O jogo / Vamo...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:08:28,00:08:28,"BR (Brazil)"";;;;;;;;;;;\n"
51,"""Usu¨¢rio 1",2020-07-20 15:31:58,00:12:16,,"""""Shaun o Carneiro: Temporada 3: Os bagunceiro...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:12:56,00:12:56,"BR (Brazil)"";;;;;;;;;;;;\n"
52,Usu¨¢rio 1,2020-07-20 15:28:30,00:03:22,"Autoplayed: user action: Unspecified;""","""""Shaun o Carneiro: Temporada 3: O pastor / Vo...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:12:47,00:12:47,"BR (Brazil)"";;;;;;;;;;;\n"
53,"""Usu¨¢rio 1",2020-07-20 00:36:25,00:08:45,,"""""Shaun o Carneiro: Temporada 3: O pastor / Vo...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:09:25,Not latest view,"BR (Brazil)"";;;;;;;;;;;;\n"

In [74]:
df2.rename(columns={'7': '6', '8': '7', '9': '8', '10': '9', '11' : '10'}, inplace=True)

In [75]:
df2.head()

,1,2,3,4,5,6,7,8,9,10
21,Usu¨¢rio 1,2020-07-27 16:18:30,00:21:46,"Autoplayed: user action: None;""","""""DragÃµes: Corrida atÃ© o Limite: Temporada 3...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:22:27,00:22:27,"BR (Brazil)"";;;;;;;;;;;\n"
48,Usu¨¢rio 1,2020-07-20 16:08:56,00:07:48,"Autoplayed: user action: None;""","""""Shaun o Carneiro: Temporada 3: O jogo / Vamo...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:08:28,00:08:28,"BR (Brazil)"";;;;;;;;;;;\n"
51,"""Usu¨¢rio 1",2020-07-20 15:31:58,00:12:16,,"""""Shaun o Carneiro: Temporada 3: Os bagunceiro...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:12:56,00:12:56,"BR (Brazil)"";;;;;;;;;;;;\n"
52,Usu¨¢rio 1,2020-07-20 15:28:30,00:03:22,"Autoplayed: user action: Unspecified;""","""""Shaun o Carneiro: Temporada 3: O pastor / Vo...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:12:47,00:12:47,"BR (Brazil)"";;;;;;;;;;;\n"
53,"""Usu¨¢rio 1",2020-07-20 00:36:25,00:08:45,,"""""Shaun o Carneiro: Temporada 3: O pastor / Vo...",,MStar PureTurnkey51 AOC OEM2K Smart TV,00:09:25,Not latest view,"BR (Brazil)"";;;;;;;;;;;;\n"

In [76]:
df2.shape

(439, 10)

In [77]:
df_novo = pd.concat([df, df2], ignore_index=True)

In [78]:
df_novo.head()

,1,2,3,4,5,6,7,8,9,10
0,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country;;;;;;;;;;;;\n
1,Usu¨¢rio 1,2021-01-04 17:40:58,00:01:01,,Em Busca do Vale Encantado,,Samsung Novatek DTV Smart TV,00:01:01,00:01:01,BR (Brazil);;;;;;;;;;;;\n
2,Usu¨¢rio 1,2021-01-04 17:32:40,00:06:04,,Madagascar 2,,Samsung Novatek DTV Smart TV,00:59:49,00:59:49,BR (Brazil);;;;;;;;;;;;\n
3,Usu¨¢rio 1,2021-01-04 14:19:55,00:18:59,Autoplayed: user action: Unspecified;,A Estrela de BelÃ©m,,AOC AOC 2016 MT5800 with no FRC Smart TV,00:18:59,00:18:59,BR (Brazil);;;;;;;;;;;\n
4,Usu¨¢rio 1,2020-10-23 22:00:42,01:32:46,,A Caminho da Lua,,Samsung Novatek DTV Smart TV,01:30:01,01:30:01,BR (Brazil);;;;;;;;;;;;\n

In [79]:
df_novo.shape

(13559, 10)

In [80]:
df_novo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13559 entries, 0 to 13558
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       13559 non-null  object
 1   2       13559 non-null  object
 2   3       13559 non-null  object
 3   4       13559 non-null  object
 4   5       13559 non-null  object
 5   6       13559 non-null  object
 6   7       13559 non-null  object
 7   8       13559 non-null  object
 8   9       13559 non-null  object
 9   10      13559 non-null  object
dtypes: object(10)
memory usage: 1.0+ MB

In [81]:
df_novo.columns = df.loc[0]

In [82]:
df_novo.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country;;;;;;;;;;;;\n
0,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country;;;;;;;;;;;;\n
1,Usu¨¢rio 1,2021-01-04 17:40:58,00:01:01,,Em Busca do Vale Encantado,,Samsung Novatek DTV Smart TV,00:01:01,00:01:01,BR (Brazil);;;;;;;;;;;;\n
2,Usu¨¢rio 1,2021-01-04 17:32:40,00:06:04,,Madagascar 2,,Samsung Novatek DTV Smart TV,00:59:49,00:59:49,BR (Brazil);;;;;;;;;;;;\n
3,Usu¨¢rio 1,2021-01-04 14:19:55,00:18:59,Autoplayed: user action: Unspecified;,A Estrela de BelÃ©m,,AOC AOC 2016 MT5800 with no FRC Smart TV,00:18:59,00:18:59,BR (Brazil);;;;;;;;;;;\n
4,Usu¨¢rio 1,2020-10-23 22:00:42,01:32:46,,A Caminho da Lua,,Samsung Novatek DTV Smart TV,01:30:01,01:30:01,BR (Brazil);;;;;;;;;;;;\n

In [83]:
df_novo.drop(0, inplace=True)

In [84]:
df_novo.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country;;;;;;;;;;;;\n
1,Usu¨¢rio 1,2021-01-04 17:40:58,00:01:01,,Em Busca do Vale Encantado,,Samsung Novatek DTV Smart TV,00:01:01,00:01:01,BR (Brazil);;;;;;;;;;;;\n
2,Usu¨¢rio 1,2021-01-04 17:32:40,00:06:04,,Madagascar 2,,Samsung Novatek DTV Smart TV,00:59:49,00:59:49,BR (Brazil);;;;;;;;;;;;\n
3,Usu¨¢rio 1,2021-01-04 14:19:55,00:18:59,Autoplayed: user action: Unspecified;,A Estrela de BelÃ©m,,AOC AOC 2016 MT5800 with no FRC Smart TV,00:18:59,00:18:59,BR (Brazil);;;;;;;;;;;\n
4,Usu¨¢rio 1,2020-10-23 22:00:42,01:32:46,,A Caminho da Lua,,Samsung Novatek DTV Smart TV,01:30:01,01:30:01,BR (Brazil);;;;;;;;;;;;\n
5,Usu¨¢rio 1,2020-09-02 14:28:34,00:00:10,,AmazÃ´nia,,DefaultWidevineAndroidPhone,00:00:03,00:00:03,BR (Brazil);;;;;;;;;;;;\n

In [85]:
df_novo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13558 entries, 1 to 13558
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             13558 non-null  object
 1   Start Time               13558 non-null  object
 2   Duration                 13558 non-null  object
 3   Attributes               13558 non-null  object
 4   Title                    13558 non-null  object
 5   Supplemental Video Type  13558 non-null  object
 6   Device Type              13558 non-null  object
 7   Bookmark                 13558 non-null  object
 8   Latest Bookmark          13558 non-null  object
 9   Country;;;;;;;;;;;;
     13558 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [86]:
df_novo.drop(columns=['Attributes', 'Supplemental Video Type'], inplace=True)

In [87]:
df_novo.rename(columns={'Profile Name': 'usuario', 'Start Time': 'data_hora', 'Duration': 'duracao', 
                       'Title': 'título_assistido', 'Device Type': 'assistido_via',
                       'Country;;;;;;;;;;;;\n': 'país'}, inplace=True)

In [88]:
def extrair_pais(pais):
    loc = pais.find(')')
    try:
        return pais[0:loc+1]
    except:
        return 'SEM DADO'

In [89]:
df_novo['país'] = df_novo['país'].apply(extrair_pais)

In [90]:
df_novo.drop(columns=['Bookmark', 'Latest Bookmark'], inplace=True)

In [91]:
df_novo['data_hora'] = pd.to_datetime(df_novo['data_hora'])

In [92]:
df_novo.reset_index(inplace=True)

In [93]:
df_novo.drop(columns='index', inplace=True)

In [94]:
def usuario(user):
    if '1' in user:
        return 'Usuário 1'
    if '2' in user:
        return 'Usuário 2'
    if '3' in user:
        return 'Usuário 3'
    else:
        return 'SEM DADO'

In [95]:
df_novo['usuario'] = df_novo['usuario'].apply(usuario)

In [96]:
df_novo['duracao'] = pd.to_timedelta(df_novo['duracao'])

In [97]:
df_novo.head()

,usuario,data_hora,duracao,título_assistido,assistido_via,país
0,Usuário 1,2021-01-04 17:40:58,0 days 00:01:01,Em Busca do Vale Encantado,Samsung Novatek DTV Smart TV,BR (Brazil)
1,Usuário 1,2021-01-04 17:32:40,0 days 00:06:04,Madagascar 2,Samsung Novatek DTV Smart TV,BR (Brazil)
2,Usuário 1,2021-01-04 14:19:55,0 days 00:18:59,A Estrela de BelÃ©m,AOC AOC 2016 MT5800 with no FRC Smart TV,BR (Brazil)
3,Usuário 1,2020-10-23 22:00:42,0 days 01:32:46,A Caminho da Lua,Samsung Novatek DTV Smart TV,BR (Brazil)
4,Usuário 1,2020-09-02 14:28:34,0 days 00:00:10,AmazÃ´nia,DefaultWidevineAndroidPhone,BR (Brazil)

In [98]:
df_novo['segundos'] = df_novo['duracao'].apply(lambda x: x.seconds)

In [99]:
df_novo.head()

,usuario,data_hora,duracao,título_assistido,assistido_via,país,segundos
0,Usuário 1,2021-01-04 17:40:58,0 days 00:01:01,Em Busca do Vale Encantado,Samsung Novatek DTV Smart TV,BR (Brazil),61
1,Usuário 1,2021-01-04 17:32:40,0 days 00:06:04,Madagascar 2,Samsung Novatek DTV Smart TV,BR (Brazil),364
2,Usuário 1,2021-01-04 14:19:55,0 days 00:18:59,A Estrela de BelÃ©m,AOC AOC 2016 MT5800 with no FRC Smart TV,BR (Brazil),1139
3,Usuário 1,2020-10-23 22:00:42,0 days 01:32:46,A Caminho da Lua,Samsung Novatek DTV Smart TV,BR (Brazil),5566
4,Usuário 1,2020-09-02 14:28:34,0 days 00:00:10,AmazÃ´nia,DefaultWidevineAndroidPhone,BR (Brazil),10

In [100]:
df_novo.head()

,usuario,data_hora,duracao,título_assistido,assistido_via,país,segundos
0,Usuário 1,2021-01-04 17:40:58,0 days 00:01:01,Em Busca do Vale Encantado,Samsung Novatek DTV Smart TV,BR (Brazil),61
1,Usuário 1,2021-01-04 17:32:40,0 days 00:06:04,Madagascar 2,Samsung Novatek DTV Smart TV,BR (Brazil),364
2,Usuário 1,2021-01-04 14:19:55,0 days 00:18:59,A Estrela de BelÃ©m,AOC AOC 2016 MT5800 with no FRC Smart TV,BR (Brazil),1139
3,Usuário 1,2020-10-23 22:00:42,0 days 01:32:46,A Caminho da Lua,Samsung Novatek DTV Smart TV,BR (Brazil),5566
4,Usuário 1,2020-09-02 14:28:34,0 days 00:00:10,AmazÃ´nia,DefaultWidevineAndroidPhone,BR (Brazil),10

In [101]:
df_novo['título_assistido']  = df_novo['título_assistido'].apply(lambda x: x.replace('"', ''))

In [102]:
df_novo['título_assistido'].value_counts()

AtÃ© o Ãltimo Homem                                                       23
Velozes e Furiosos 3 â?Desafio em TÃ³quio                                 22
Homem de Ferro 2                                                           22
Velozes & Furiosos 6                                                       21
Homem de Ferro 3                                                           20
                                                                           ..
Betty em Nova York: Temporada 1: Un padre desilusionado (EpisÃ³dio 102)     1
Betty em Nova York: Temporada 1: Noticia trÃ¡gica (EpisÃ³dio 101)           1
Betty em Nova York: Temporada 1: La nueva Betty (EpisÃ³dio 100)             1
Betty em Nova York: Temporada 1: Un poema de amor (EpisÃ³dio 52)            1
CrianÃ§as diante do trono - Samuel o menino que ouviu Deus                  1
Name: título_assistido, Length: 6313, dtype: int64

In [103]:
df_novo.groupby('usuario')['assistido_via'].value_counts()

usuario    assistido_via
Usuário 1  Samsung Novatek DTV Smart TV                                         291
           MStar PureTurnkey51 AOC OEM2K Smart TV                               144
           AOC AOC 2016 MT5800 with no FRC Smart TV                              40
           LG 2018 Mstar M3 Standard DTV Smart TV                                31
           Samsung 2015 NT14M DTV Smart TV                                       29
           Android DefaultWidevineL3Phone Android Phone                          12
           Chrome PC (Cadmium)                                                    1
           DefaultWidevineAndroidPhone                                            1
Usuário 2  Samsung Novatek DTV Smart TV                                        4997
           AOC AOC 2016 MT5800 with no FRC Smart TV                            1489
           LG 2018 Mstar M3 Standard DTV Smart TV                               879
           Samsung 2015 NT14M DTV Smart TV                                      608
           Android DefaultWidevineL3Phone Android Phone                         439
           DefaultWidevineAndroidPhone                                          277
           Chrome PC (Cadmium)                                                  225
           Mobile                                                               163
           Android DefaultWidevineL3Phone Android Phone (asus_ASUS_Z00UD)        65
           MStar PureTurnkey51 AOC OEM2K Smart TV                                56
           Android DefaultWidevineL3Phone Android Phone (samsung_SM-G360BT)      29
           Android DefaultWidevineL3Phone Android Phone (asus_ASUS_X013D)        22
           Netflix Windows App - Cadmium Windows Mobile                           1
Usuário 3  Samsung 2016 Jazz-L UHD TV Smart TV                                 3193
           Apple iPhone 7 (GSM)                                                 113
           Android DefaultWidevineL3Phone Android Phone (asus_ASUS_Z00UD)       106
           DefaultWidevineAndroidPhone                                          105
           LG 2018 Mstar LM18A STD UHD TV Smart TV                               85
           Chrome PC (Cadmium)                                                   56
           Sony PS4                                                              45
           Microsoft Xbox One S                                                  14
           Samsung Novatek DTV Smart TV                                          14
           Apple iPad Air 3rd Gen (Wi-Fi)                                        12
           Samsung 2015 NT14M DTV Smart TV                                        6
           Netflix Windows App - Cadmium Windows Mobile                           4
           AOC AOC 2016 MT5800 with no FRC Smart TV                               3
           Android DefaultWidevineL3Phone Android Phone                           3
Name: assistido_via, dtype: int64

In [104]:
def transforma_via_acesso(dispositivo):
    if 'TV' in dispositivo:
        return 'TV'
    elif ('Android' in dispositivo) or ('iPhone' in dispositivo) or ('Phone' in dispositivo) or ('Mobile' in dispositivo):
        return 'Celular'
    elif ('PC' in dispositivo) or ('Chrome' in dispositivo):
        return 'PC'
    elif ('Xbox' in dispositivo)  or ('PS4' in dispositivo) or ('Sony' in dispositivo):
        return  'Console'
    elif ('iPad' in dispositivo):
        return 'Tablet'

In [105]:
df_novo['assistido_via'] = df_novo['assistido_via'].apply(transforma_via_acesso)

In [106]:
df_novo.groupby('usuario')['assistido_via'].value_counts()

usuario    assistido_via
Usuário 1  TV                535
           Celular            13
           PC                  1
Usuário 2  TV               8029
           Celular           996
           PC                225
Usuário 3  TV               3301
           Celular           331
           Console            59
           PC                 56
           Tablet             12
Name: assistido_via, dtype: int64

In [107]:
df_novo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13558 entries, 0 to 13557
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   usuario           13558 non-null  object
 1   data_hora         13558 non-null  datetime64[ns]
 2   duracao           13558 non-null  timedelta64[ns]
 3   título_assistido  13558 non-null  object
 4   assistido_via     13558 non-null  object
 5   país              13558 non-null  object
 6   segundos          13558 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4), timedelta64[ns](1)
memory usage: 741.6+ KB

In [108]:
df_novo.head()

,usuario,data_hora,duracao,título_assistido,assistido_via,país,segundos
0,Usuário 1,2021-01-04 17:40:58,0 days 00:01:01,Em Busca do Vale Encantado,TV,BR (Brazil),61
1,Usuário 1,2021-01-04 17:32:40,0 days 00:06:04,Madagascar 2,TV,BR (Brazil),364
2,Usuário 1,2021-01-04 14:19:55,0 days 00:18:59,A Estrela de BelÃ©m,TV,BR (Brazil),1139
3,Usuário 1,2020-10-23 22:00:42,0 days 01:32:46,A Caminho da Lua,TV,BR (Brazil),5566
4,Usuário 1,2020-09-02 14:28:34,0 days 00:00:10,AmazÃ´nia,Celular,BR (Brazil),10

In [109]:
df_novo.to_csv('netflix-historico-duracao.csv', encoding='utf-8', index=False)